*, ::after, ::before {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100vh;
    background-color: #0D1117;
    color: #fff;
}

img {
    max-width: 75%;
    height: auto;
}

main {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    background-color: #010409;
    color: #eee;
}

.logo {
    max-width: 2rem;
    padding-left: .5rem;
    height: auto;
}

.menu ul {
    list-style: none;
}

.menu-link {
    color: #fff;
    text-decoration: none;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.menu-link:hover {
    color: #2e73ec;
}

.hero-image {
    min-height: calc(100vh - 2.5rem);
    background-color: #0D1117;
    color: #fff;
}

.text {
    font-family:"Roboto", sans-serif;
}

.text-title {
    font-family: "Roboto Slab", sans-serif;
}

.hero-content {
    min-height: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
}

.mateoimg {
    max-width: 30%;
    height: auto;
}

.hero-text {
    text-align: center;
}

.hero-text h1 {
    font-size: 2.5rem;
}

.hero-text p {
    font-size: 1rem;
}

.container-title {
    margin: 2rem 0;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.margin-container {
    margin-top: 2rem;
}

.project-image {
    display: block;
    margin: auto;
    padding: 1rem 0;
}

.text-project {
    padding: 0 .5rem;
}

.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: .5rem;
}

.footer img {
    margin: 2rem 0;
    max-width: 1.5rem;
    height: auto;
}

.footer-link {
    display: inline-block; 
    -webkit-transform: translateY(0); 
            transform: translateY(0);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.footer-link:hover {
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

@media screen and (min-width: 800px) {
    .header{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%; 
        height: 2.5rem; 
        background-color: #010409; 
        color: #eee;
    }

    .menu ul{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .menu li {
        padding: .5rem;
    }

    .flex-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .flex-container-row-reverse {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
    }

    .flex-item {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
                flex: 0 0 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; 
        -webkit-box-pack: center; 
            -ms-flex-pack: center; 
                justify-content: center; 
        -webkit-box-align: center; 
            -ms-flex-align: center; 
                align-items: center;
        text-align: center; 
        height: 100%;
    }

    .margin-container {
        margin-top: .5rem;
    }

    .p-container {
        width:20rem;
        padding: 0 2rem;
    }

    .flex-order-1 {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }

    .flex-row-reverse{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
    } 

    .hero-image {
        margin-top: 2.5rem;
    }

    .text-container {
        padding: 0 2rem;
    }
}